## idea folder
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/replstate.xml
/.idea/libraries
/.idea/inspectionProfiles

/parinfer/build
/parinfer/.gradle
/parinfer/local.properties

/parinfer-test/target/
/parinfer-test/.lein-repl-history
/parinfer-test/.lein-failures

## ignore diff files
*.diff

# OSX files
.DS_Store
